/* CSS 작성하는 공간입니다. */
/* 너무 부담 갖지마시고 테스트해본다 생각하고 이것 저것 시도해보세요 */

    
.all2 {
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.all {
    
    display: flex;
    padding: 5px 0px 5px 0px;
    
    align-items: center;
    border: 1px solid red;
    
}

.about {
    width: 600px;
    
    text-align: center;
    margin-top: 30px;
    
}

.btn_back {
    margin-top: 20px;
}

.btn {
    font-size: 15pt;
    background-color: rgb(255, 170, 170);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    transition: all 0.1s;
    border-bottom: 2px solid rgb(252, 144, 144);

}

.btn_back:active{
    transform: translateY(3px);
    
}