/* CSS 작성하는 공간입니다. */
/* 너무 부담 갖지마시고 테스트해본다 생각하고 이것 저것 시도해보세요 */
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="style_shim.css" />
  <title>AIO | 심재영</title>
  <style>
    .img {
      style="float: left;  margin-left: 50px; margin-bottom: 10px; width:300px; height:300px;"
    }
    .card-body {
      list-style-type: none;
      width: 100%;
      margin: 30px 100px 0px auto;
      float: left;
     }
    #circle {
        width: 300px; height: 60px;
        border-radius: 15px;
        background-color: silver;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="container row">
      <a href="/index.html" class="header__logo"></a>
      <nav>
        <ul class="nav">
          <li class="nav__item">
            <a href="/member_do.html">Do</a>
          </li>
          <li class="nav__item">
            <a href="/member_han.html">Han</a>
          </li>
          <li class="nav__item">
            <a href="/member_shim.html">Shim</a>
          </li>
          <li class="nav__item">
            <a href="/member_yeom.html">Yeom</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <sectiion class="container row">
        <div id="circle">
          <h3 class="info">infomation</h3>
        </div>
    </sectiion>
    <section class="container row">
      <div class="card mb-3" style="display: flex;" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">도경구</h1>
              <p class="card-text">팀장</p>
              <p class="card-text"><small class="text-body-secondary">mbti</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="display: flex;" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">한지우</h1>
              <p class="card-text">팀원</p>
              <p class="card-text"><small class="text-body-secondary">mbti</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="display: flex;" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">심재영</h1>
              <p class="card-text">팀원</p>
              <p class="card-text"><small class="text-body-secondary">mbti</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="display: flex;" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">염혜원</h1>
              <p class="card-text">팀원</p>
              <p class="card-text"><small class="text-body-secondary">mbti</small></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container row">
      <a href="/index.html" class="header__logo"> </a>
      <p>Copyrightⓒ2023 by AIO</p>
    </div>
  </footer>
</body>

</html>