/* CSS 작성하는 공간입니다. */
/* 너무 부담 갖지마시고 테스트해본다 생각하고 이것 저것 시도해보세요 */

    
.all2 {
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.all {
    
    display: flex;
    padding: 5px 0px 5px 0px;
    align-items: center;
    border: 1px solid red;
    
}

.about {
    width: 600px;
    text-align: center;
    margin-top: 30px;
    
}

.btn_back {
    margin-top: 50px;
    margin: 20px 100px 0px 100px;
    border-radius: 15px;
}

.btn {
    font-size: 15pt;
    color: white;
    transition: all 0.1s;
}

.btn, .btn_back {
    border-bottom: 3px solid rgb(252, 144, 144);
    background-color: rgb(255, 170, 170);
    padding: 5px 10px 5px 10px;
}

.btn_back:active{
    transform: translateY(3px);
    
}

h1 {
    line-height: 80px;
}

p {
    text-align: justify;
    padding: 0px 100px;
   
}

img {
    padding: 15px 0px;
}