/* ========== Reset ========== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* ========== Default ========== */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 16px 0;
  border: 1px solid red;
}

.row {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* ========== Header ========== */
header:hover {
  background-color: lightblue;
}

.header__logo {
  background-image: url(/asset/logo.jpg);
  background-position: center;
  background-size: cover;
  display: inline-block;
  align-self: baseline;
  width: 100px;
  height: 70px;
}

.nav {
  margin-left: 60px;
  font-size: 20px;
  display: flex;
}

.nav__item {
  cursor: pointer;
  position: relative;
  padding: 16px;
}

.nav__item:hover > a {
  transition: 0.3s;
  opacity: 0.7;
}

/* ========== Main ========== */
.section__item {
  width: 50%;
}

.section__img {
  width: 100%;
}

.section__text {
  text-align: center;
}
.section__text > * {
  margin-bottom: 16px;
}

.section__btn {
  background-color: lightblue;
  padding: 8px 48px;
  border-radius: 16px;
}

.section__btn:hover {
  opacity: 0.7;
}
/* ========== Foot ========== */
.footer {
  text-align: center;
}
